.navbar {
    display: flex;
    position: absolute;
    top: 0px;
    overflow: hidden;
    z-index: 1;
    width: 100%;
    background-color: rgba(0, 0, 0, 1);
}

.navLogo {
    width: 40%;
    align-items: center;
    justify-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 1)
}

.navbar a{
    background-color: rgba(0, 0, 0, 1);
}

.navLogo img {
    margin-top: 20px;
    margin-left: 50px;
    width: 250px;
    height: 30px;
    background-color: rgba(0, 0, 0, 1);
}

.navItemsContainer {
    width: 60%;
    height: 65px;
    background: rgba(0, 0, 0, 1)
}

.navItems {
    margin-top: 5px;
    display: flex;
    align-items: center;
    height: 60px;
    float: right;
    margin-right: 2%;
}

.navItems li a {
    display: inline-block;
    color: rgba(157, 177, 229, 1);
    font-size: 15px;
    line-height: 65px;
    padding: 0px 50px;
    font-weight: bold;
    background: rgba(0, 0, 0, 1);
    transition: .5s ease;
    text-transform: uppercase;
}

.navItems li a.active,
.navItems li a:hover {
    color: rgba(2, 169, 247, 1);
    transform: scale(1.2);
    transition: .5s ease;
}


.navItems li i{
    color: rgba(157, 177, 229, 1);
    line-height: 65px;
    padding: 0px 50px;
    font-weight: bold;
    background: transparent;
    transition: .5s ease;
    text-transform: uppercase;
    display: inline-block;
    font-size: 25px;
    padding: 0;
    display: none;
}

.navItems li i:hover{
    color: rgba(2, 169, 247, 1);
    transition: .5s ease;
}

.CircleStyle {
    background-color: transparent;
    position: absolute;
    width: 500px;
    height: 330px;
    border-radius: 50%;
    top: -240px;
    left: -82px;
    background: #000000;
    z-index: -1;
}

@media (max-width: 1300px) {
    .navItemsContainer{
        width: 80%;
    }
    .navLogo{
        width: 25%;
    }
    .navItems li a {
        padding: 0px 40px;
    }
    
}

@media (max-width: 1200px) {
    .navLogo img{
        width: 85%;
        height: 30px;
        margin-left: 30px;
    }
    .CircleStyle {
        width: 39%;
        height: 330px;
    }
}
@media (max-width: 1100px) {
    .navItems li a {
        padding: 0px 30px;
    }
}

@media (max-width: 980px) {
    .navItems li a {
    }
    .navItems li i{
        /* margin-right: 0; */
    }
    .navLogo{
        /* width: 50%; */
    }
    .navItemsContainer{
        /* width: 50%; */
    }
    .navLogo img{
        /* width: 90%; */
        /* height: 40px; */
    }
    .CircleStyle {
    }
}

@media (max-width: 880px) {
    .navItems li a {
        padding: 0px 12px;
        font-size: 15px;
    }
    .navItems li a {
        padding: 0px 12px;
        font-size: 15px;
    }
    .navLogo{
        width: 25%;
    }
    .navLogo img {
        width: 100%;
        margin-left: 15px;
        margin-top: 20px;
        height: 25px;
    }
    .CircleStyle {
        width: 45%;
    }
}

@media (max-width: 750px) {
    .navLogo{
        width: 35%;
    }
    .navLogo img {
        margin-top: 20px;
        height: 22px;
    }
    .CircleStyle {
        width: 55%;
    }
    .navItemsContainer{
        height: 35px;
    }
}

@media (max-width: 650px) {
    .navLogo {
        width: 30%;
    }
}

@media (max-width: 550px) {
    .navLogo {
        width: 40%;
    }
    .navLogo img {
        width: 100%;
        margin-top: 25px;
        height: 20px;
    }
    
    .CircleStyle {
        width: 70%;
        background-color: transparent;
        position: absolute;
        height: 320px;
        border-radius: 50%;
        top: -240px;
        left: -55px;
        background: #000000;
        z-index: -1;
    }
}

@media (max-width: 450px) {
    .navLogo img {
        margin-left: 15%;
    }
}

@media (max-width: 380px) {
    .navLogo {
        width: 45%;
    }

    .navLogo img {
        width: 100%;
        margin-left: 20%;
        margin-top: 20px;
        height: 18px;
    }

    
    .logoMainTop img {
        width: 100%;
        margin-left: 5%;
        margin-top: 25px;
        height: 18px;
    }

    .CircleStyle {
        width: 75%;
        background-color: transparent;
        position: absolute;
        height: 310px;
        border-radius: 50%;
        top: -240px;
        left: -45px;
        background: #000000;
        z-index: -1;
    }
}